html {
    font-style: oblique;
}

main {
    background-image: url("catBackground.jpeg")
}



#cat-creator {
    background-color: #AEABA7;

}

.cat-cards {
    background-color: #AEABA7;
}
 .title {
     font-size: 5vh;
     text-shadow: 3px 3px #CCC5B9;
 }

 .subtitle {
     font-size: 2vh;
 }


.editing {
    position: fixed;
    display: flex;
    z-index: 2;
    background-color: rgba(180,180,180,0.8);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.editing #cat-creator {
    background-color: rgba(180,180,180,1);
    max-width: 65vmin;
}


.preview {
    max-width: 30vmin;
    max-height: 25vmin;
    margin: 10px 0 10px 0;
}


#radio-feedback {
    display: none;
    color: red;
}

#submit-button {
    color: #252422;
    background-color: rgb(235, 94, 40);
    border: 1px solid rgb(235, 94, 40);
}

#kill-all-cats {
    background-color: #403D39;
    color: #CCC5B9;
}

.edit-button {
    background-color: #F39E7C;
    margin-right: 4px;
}

.delete-button {
    color: #CCC5B9;
    background-color: #403D39;
}

#cancel-edit {
    color: #CCC5B9;
    background-color: #403D39;
}
