

.cat-cards {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.cat-editor {
    background-color: #0dcaf0;
    border: 5px solid black;
    border-radius: 20px;
    z-index: 2;
    position: fixed;
    top: 8vh;
    left: 8vh;
    display: none;
}